.features-sec {
  padding: 30px 0;
  .feature-content {
    min-height: 400px;
    .nav-tabs {
      display: flex;
      justify-content: center;
    }
    .video-explain {
      text-align: center;
      ul {
        list-style: none;
      }
    }
  }
}
